node_modules/
npm-debug.log*
yarn-error.log
.pnpm-debug.log

/dist
/build
/.cache

.env
/backend/.env
/frontend/.env

docker-compose.override.yml
*.log

.DS_Store
Thumbs.db



package-lock.json
.pnp/
.pnp.js

/frontend/dist

coverage/
